<h3>Shop by Seller</h3>

<% @users.each do |user| %>
<section class="user">
  <ul>
    <li>Name: <%= link_to(user.name, user_path(user)) %></li>
    <li>
      <%= mail_to user.email do %>
        <strong>Email: <%= user.email %></strong>
      <% end %>
    </li>
    <li>Products Available: <%= user.products.count %></li>
    <li>Average Rating: <%= '%.2f' % user.average_rating %></li>
  </ul>
</section>

<% end %>
