
<%= render partial: "layouts/errors", locals: { model: @order } %>


<section class="order-form">
  <h3>Order Confirmation</h3>
  <p>Please provide information below and click submit to complete your purchase.</p>

  <%= form_for @order do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :ccnumber, "Credit Card Number" %>
  <%= f.text_field :ccnumber %>


  <%= f.label :ccexpiration, "Credit Card Expiration" %>
  <%= f.date_field :ccexpiration %>

  <%= f.label :cvv, "CVV" %>
  <%= f.text_field :cvv %>

  <%= f.submit "Submit", class: "button" %>

  <% end %>

</section>
