<table>
  <tr>
    <th>Product Name</th>
    <th>Price per Unit</th>
    <th>Amount</th>
    <th>Actions</th>
  </tr>

<% CartItem.where(order_id: @order.id).each do |item| %>
<% @product = Product.find(item.product_id) %>
<tr> Item <%= @product.name %></tr>
<tr>Price <%= @product.price %></tr>
<tr>
  <%= form_for @cart_item do |f| %>
     <%= f.collection_select :quantity, (0..(@product.stock)) %>
     <%= f.submit class: "button" %>
  <% end %>
</tr>
<tr></tr>
<% end %>

</table>
