<h4>
  <% page_title ||= "Product Changes" %>
  <%= page_title %>
</h4>

<%= form_for product, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <!--
  Only show the author dropdown if we don't
  already have one. Is this acutally good UX
  design? Depends on the application!
  -->

  <%= f.label :stock %>
  <%= f.number_field :stock %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :user_id %>
  <%= f.number_field :user_id, :value => :user_id %>


  <%= f.label :description %>
  <%= f.text_area :description %>

  <div class="add category">

<% form_for @category |f| %>
    Select a category from the list

    <div class="field">
        <%= f.association :category, input_html: { class: 'chosen-select', multiple: true } %>
    </div>
<% end %>

  </div>

  <%= f.label :image %>
  <%= f.file_field :image %>

  <%= f.submit class: "button" %>

<% end %>
