<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><%= link_to("pEtsy fEels", root_path, id: "logo") %></li>
          <li><%= link_to("By Seller", users_path) %></li>
          <li><%= link_to("By Category", categories_path) %></li>
          <li>Login</li>
          <li>My Cart</li>
        </ul>
      </nav>
    </header>

    <main>
    <%= yield %>
    </main>

    <footer>
      <h6>&copy; 2018 pEtsy fEels</h6>
    </footer>

  </body>
</html>
